@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "_variables";
@import "hamburgers/hamburgers.scss";
@import "modules/statistics.scss";
@import "modules/settings.scss";
@import "modules/status.scss";
@import "modules/navigation.scss";

@keyframes waterdrop {
  0% {
    transform: scale(1.0);
    opacity: .6;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1.0);
    opacity: .6;
  }
}

.water-glass--js {
  animation: shakeY;
  animation-duration: 1.2s;
}

body {
  background: $hydrapp;
  color: #ffffff;
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
}

html {
  height: calc(var(--vh, 1vh) * 100);
}

.hamburger {
  border: 0;
  position: fixed;
  right: 4px;
  top: 0px;
  z-index: 999;

  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 995;
  background-color: $hydrapp;
  box-shadow: 0px 1px 5px -1px #000000;

  &__title {
    font-size: 38px;
    letter-spacing: .15rem;
    margin-top: -2px;
    margin-left: 8px;
    margin-bottom: -5px;
    animation: zoomInDown;
    animation-duration: 1.4s;
  }

  &__title::before {
    content: url(../assets/img/water-mini.svg);
    padding: 5px;
    display: inline-block;
    animation: waterdrop 3s ease-in infinite;
  }
}

.main {
  background: $hydrapp;
  color: #ffffff;
  display: flex;
  width: 100%;
  position: relative;
  height: 90vh;
  height: calc(var(--vh, 1vh) * 90);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  touch-action: manipulation;
  overflow: visible;
  &__water-glass {
    z-index: 0;
    position: relative;
    margin-top: -2vh;
    margin-bottom: 10px;
    width: 85vw;
    height: 95vh;
  }

  &__counter {
    z-index: 1;
    font-size: 100px;
    color: #000000;
    margin-top: -26vh;
  }

  &__buttons {
    width: 70%;
    background-color: rgba(0, 0, 0, .2);
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4vh;
  }

  &__buttons--add {
    margin-left: 28px;
    width: 10vh;
    min-height: 10vh;
    max-height: 18vh;
  }

  &__buttons--delete {
    margin-right: 28px;
    width: 10vh;
    min-height: 10vh;
    max-height: 18vh;
  }
}

.swal-modal .swal-text {
  text-align: center;
}

@import "media.scss";