@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $hydrapp;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  &__title {

  }
  &__water-glass {

  }
  &__counter {

  }
  &__add-glass {

  }
  &__delete-glass {

  }
} 
