
@media (min-height: 800px) {
    .main {
    margin-top: 40px;
        &__status {
            margin-bottom: 48px;
        }
        &__water-glass {
            width: 280px;
            height: 280px;
        }
        &__counter {
            font-size: 112px;
        }   
    }

    .goal {
        width: 24%;
        margin: 4px;
        padding: 10px;
        &:before {
            font-size: 20px;
            font-weight: bold;
            line-height: 28px;
        }
    }

    .capacity {
        width: 24%;
        margin: 4px;
        padding: 10px;
        &:before {
            font-size: 20px;
            font-weight: bold;
            line-height: 28px;
        }
    }

    .status {
        width: 22%;
        margin: 4px;
        padding: 10px;
        &:before {
            font-size: 20px;
            font-weight: bold;
            line-height: 28px;
        }
    }

    .img__goal {
        width: 14%;
        padding: 6px;
        margin: 1px 18px;
    }

    .img__bottle {
        width: 14%;
        padding: 6px;
        margin: 1px 18px;
    }

    .img__percentage {
        width: 14%;
        padding: 6px;
        margin: 1px 18px;
    }

    .progress {
        align-self: center;
        width: 95%;
        margin: 8px auto;
    }

    progress[value] {
        -webkit-appearance: none;
        appearance: none;
        height: 22px;
    }
}
@media (max-height: 780px) {
    .main {
        margin-top: 52px;
    }
}

@media (max-height: 750px) {
    .main {
    margin-top: 22px;
        &__status {
            margin-bottom: 28px;
        }
        &__water-glass {
            width: 265px;
            height: 265px;
        }
        &__counter {
            font-size: 96px;
            margin-top: -156px;
        }
        &__add-glass {
            margin-top: -28px;
        }

    }
    .goal {
        width: 24%;
        margin: 4px;
        padding: 4px;
        &:before {
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }
    }

    .capacity {
        width: 24%;
        margin: 4px;
        padding: 4px;
        &:before {
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }
    }

    .status {
        width: 24%;
        margin: 4px;
        padding: 4px;
        &:before {
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }
    }

    .img__goal {
        width: 11%;
        padding: 4px;
        margin: 1px 28px;
    }

    .img__bottle {
        width: 11%;
        padding: 4px;
        margin: 1px 28px;
    }

    .img__percentage {
        width: 11%;
        padding: 4px;
        margin: 1px 28px;
    }
    .progress {
        align-self: center;
        width: 95%;
        margin: 8px auto;
    }

    progress[value] {
        -webkit-appearance: none;
        appearance: none;
        height: 18px;
    }
}

@media (max-height: 715px) {
    .main {
        margin-top: 46px;
            &__status {
                margin-bottom: 32px;
            }
            &__water-glass {
                width: 255px;
                height: 255px;
            }
            &__counter {
                font-size: 92px;

            }
            &__add-glass {
                margin-top: -16px;
            }
            &__delete-glass {
                margin-top: 22px;
            }
    }
}

@media (max-height: 690px) {
    .main {
        margin-top: 40px;
            &__status {
                margin-bottom: 30px;
            }
            &__water-glass {
                width: 245px;
                height: 245px;
            }
            &__counter {
                font-size: 86px;

            }
            &__add-glass {
                margin-top: -12px;
                font-size: 18px;
            }
            &__delete-glass {
                margin-top: 16px;
                font-size: 14px;
        }
    
        }
        .goal {
            width: 25%;
            margin: 2px;
            padding: 2px;
            &:before {
                font-size: 18px;
                font-weight: bold;
                line-height: 24px;
            }
        }
    
        .capacity {
            width: 25%;
            margin: 2px;
            padding: 2px;
            &:before {
                font-size: 18px;
                font-weight: bold;
                line-height: 24px;
            }
        }
    
        .status {
            width: 25%;
            margin: 2px;
            padding: 2px;
            &:before {
                font-size: 18px;
                font-weight: bold;
                line-height: 24px;
            }
        }
    
        .img__goal {
            width: 10%;
            padding: 4px;
            margin: 1px 30px;
        }
    
        .img__bottle {
            width: 10%;
            padding: 4px;
            margin: 1px 30px;
        }
    
        .img__percentage {
            width: 10%;
            padding: 4px;
            margin: 1px 30px;
        }
        .progress {
            align-self: center;
            width: 95%;
            margin: 8px auto;
        }
    
        progress[value] {
            -webkit-appearance: none;
            appearance: none;
            height: 16px;
        }
}

@media (max-height: 660px) {
    .main {
        margin-top: 40px;
        &__status {
            margin-bottom: 30px;
        }
        &__water-glass {
            width: 230px;
            height: 230px;
          }
          &__counter {
            font-size: 86px;
            margin-top: -152px;
          }
          &__add-glass {
            font-size: 16px;
            width: 170px;
            height: 37px;
            margin-top: -8px;
          }
          &__delete-glass {
            margin-top: 26px;
            font-size: 14px;
    }
}
}