.nav {
    width: 60%;
    height: 100vh;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $hydrapp;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.nav--open {
    display: flex;
    z-index: 999;
    animation-duration: .3s;
}

.nav-link {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    border-bottom: 1.5px ridge #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__text {
        font-size: 22px;
        text-shadow: rgba(0, 0, 0, 0.3) 1px 5px;
    }
    &__home {
        margin: 2px 4px;
        max-width: 14%;
        margin-left: 52px;
        text-decoration: underline;
    }
    &__stats {
        margin: 2px 4px;
        max-width: 14%;
        margin-left: 52px;
    }
    &__settings {
        margin: 2px 4px;
        max-width: 14%;
        margin-left: 52px;
    }
}

.nav-shade {
    width: 100vw;
    height: 200vh;
    height: calc(var(--vh, 1vh) * 200);
    z-index: 998;
    position: absolute;
    background-color: rgba(0, 0, 0, .75);
}

.nav-topbox {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4px;
    margin: 4px auto;
    margin-bottom: 8px;
    border-bottom: 0.5px ridge #ffffff;
    &__logo {
        animation: waterdrop 3s ease-in infinite;
    }
}
.social-media {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 4px;
    display: flex;
    justify-content: center;
    border-top: 1.5px ridge #ffffff;
    &__github {
        margin-right: 12px;
        padding: 4px;
    }
    &__instagram {
        margin-left: 12px;
        padding: 4px;
    }
}