.settings {
    display: none;
    position: absolute;
    background: $hydrapp;
    min-height: 80vh;
    width: 100%;
    z-index: 997;
    text-align: center;
    top: 160px;
    align-items: center;
        &__select-goal {
            width: 60%;
        }
}
.settings--open {
    display: flex;
    flex-direction: column;
}