.stats {
    display: none;
    position: absolute;
    background: $hydrapp;
    min-height: 80vh;
    width: 100%;
    z-index: 997;
    text-align: center;
    top: 140px;
        &__charts {
            background-color: rgba($color: #ffffff, $alpha: .9);
            position: relative;
            margin: 24px auto;
            height: 65vh;
            width: 90vw;
            border-radius: 5px;
        }
}
.stats--open {
    display: block;
}