.stats {
    display: none;
    position: relative;
    background: $hydrapp;
    min-height: 80vh;
    width: 100%;
    top: 0;
    z-index: 997;
    text-align: center;
 
        &__history {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

        }
        &__history--div {
            padding: 16px;
            background-color: rgba($color: #ffffff, $alpha: .3);
            border-radius: 5px;
            width: 300px;
            margin: 8px auto;
        }
}
.stats--open {
    display: block;

}